@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

.resimSlider{
	height: 550px;
}
body{
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	padding-top: 10vh;
}
.navbar{
	min-height: 10vh;
}
.hakkimizda{
	background-color: #f2f2f2;
}
.ayrac{
	border:none;
	border-top:3px solid #343a40;
	opacity:1;
	max-width: 300px;
	margin:25px auto;
}
.ibeyaz{
	color: #343a40;
	position: relative;
	top: -55px;
	font-size: 40px;
	border:10px solid white;
	background-color: white;
}
.igri{
	color: #343a40;
	position: relative;
	top: -55px;
	font-size: 40px;
	border:10px solid #f2f2f2;
	background-color: #f2f2f2;	

}
.shadow{
	margin: 25px;
}
.ekipCard>img:hover{
	opacity: 0.8;

}
.galeri{
	background-color: #f2f2f2;	
}
.figure{
	opacity: 1;
	transition: opacity 0.6s;
}
.figure:hover{
	opacity: 0.87;
}